<div class="panel panel-default" style="border-left:3px solid #212121">
  <div class="panel-body">
    <p><b style="color: #212121"><%= message.user.email %>: </b><%= message.content %></p>
  </div>
</div>
