/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 input:-webkit-autofill {
     -webkit-text-fill-color: $black;
     -webkit-box-shadow: 0 0 0px 1000px white inset;
 }
 input:-moz-autofill {
     -moz-text-fill-color: $black;
     -moz-box-shadow: 0 0 0px 1000px white inset;
 }
 input:-o-autofill {
     -o-text-fill-color: $black;
     -o-box-shadow: 0 0 0px 1000px white inset;
 }
 input:-khtml-autofill {
     -khtml-text-fill-color: $black;
     -khtml-box-shadow: 0 0 0px 1000px white inset;
 }

 input:focus:-webkit-autofill {
     -webkit-text-fill-color: $black;
     -webkit-box-shadow: 0 0 0px 1000px white inset;
 }
 input:focus:-moz-autofill {
     -moz-text-fill-color: $black;
     -moz-box-shadow: 0 0 0px 1000px white inset;
 }
 input:focus:-o-autofill {
     -o-text-fill-color: $black;
     -o-box-shadow: 0 0 0px 1000px white inset;
 }
 input:focus:-khtml-autofill {
     -khtml-text-fill-color: $black;
     -khtml-box-shadow: 0 0 0px 1000px white inset;
 }

 .{
   outline: none;
 }
